
.coder,  .grid {
	cursor: pointer;
	box-sizing: border-box;
	width: 200px;
	position: relative; 
	transition: 2s;
	background-color : none;
	overflow: hidden;
	display: inline-block;

}

.coder {
	overflow: hidden;
	margin: 0px;
}
#promocion{
	margin: 10%;
}

.img-box{
	cursor: pointer;
	width: 200px;
	height: 200px;	
	position: relative; 
	transition: 2s;
}

.grid {
	height: 200px;
}


.coder:hover .img-box{
	transform:scale(1.2);
	z-index: 2;
	height: 200px;

}
.coder:hover .text{
	display: inline-block;
	z-index: 100;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
}

.overlay:hover {
	background: rgba(249,203,11, 0.5);
}

.text{
	display: none;
	font-size: 20px;
	color: red;
	position: absolute;
	z-index: 5;
	margin-left: 30px;
	margin-top: -100px;
	transition: 3s;
} 

